.header{
   padding: 30px 0;
   position: sticky;
   top: 0;
   
 }
 .bar{
  display: none;
 }

.form_border{
    border: 2px solid #E7E6EF;
     border-radius: 4px;
     display: flex;
     height: 40px;
}
 
.form_border input{
   padding-left: 10px;

   

 }
 .form_border button{
 background-color: var(--mainColor);
 padding: 0 15px;
 cursor: pointer;

 }
 @media screen and (max-width:1200px) {
.list,.search{
  display: none;
}
.bar{
  display: block;
}
  
 }
 .hero{
  background-color: #F2F0FF;
  padding: 30px 0;
}
@keyframes slid_in {
  from{ 
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
  
}
@keyframes slid_up{
  from{
    transform: translateY(100%);

  }
  to{
transform: translateY(0);
  }
}
.hero .row{
  gap: 10px;
}
.hero .hero_content{
  width:calc(100% - 10px) /2;
  animation: slid_in 5s ;
}
.hero .hero_img{
  width: 50%;
  animation: slid_up 4s ;
 
}
.hero .description{
  color: #8A8FB9;
}
.hero .shop_btn{
  background-color: var(--mainColor);
  color: white;
  padding: 16px 40px;
  border-radius: 3px;
  transition:  background-color .4s;


}

.hero .shop_btn:hover{
  background-color: rgb(106, 104, 104);
  
}
.hero .h1{
  font-size: 50px;
  line-height: 1.9;
  font-weight:normal;
}










































































  .footer {
background-color: #EEEFFB;
padding: 30px;
   }
   
   .footer input::placeholder{
    color:#8A8FB9 ;
   }
 
 .footer button{
  color: white;
  padding: 10px 40px;
  border-radius: 3px;
 }
 .footer.left_side{
  align-items: f;
 }
 .footer a{
  color: #8A8FB9;
 }