
 body{
    font-family: var(--mainFont);
   }
 h1,h2,h3,h4{
  font-family: var( --subFont);
 }
.header{
   padding: 30px 0;
   position: sticky;
   top: 0;
   
 }
 .bar{
  display: none;
 }

.form_border{
    border: 2px solid #E7E6EF;
     border-radius: 4px;
     display: flex;
     height: 40px;
}
 
.form_border input{
   padding-left: 10px;

   

 }
 .form_border button{
 background-color: var(--mainColor);
 padding: 0 15px;
 cursor: pointer;

 }
 @media screen and (max-width:1200px) {
.list,.search{
  display: none;
}
.bar{
  display: block;
}
  
 }
 .hero{
  background-color: #F2F0FF;
  padding: 30px 0;
}
@keyframes slid_in {
  from{ 
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
  
}
@keyframes slid_up{
  from{
    transform: translateY(100%);

  }
  to{
transform: translateY(0);
  }
}
.hero .row{
  gap: 10px;
}
.hero .hero_content{
  width:calc(100% - 10px) /2;
  animation: slid_in 5s ;
}
.hero .hero_img{
  width: 50%;
  animation: slid_up 4s ;
 
}
.hero .description{
  color: #8A8FB9;
}
.hero .shop_btn{
  background-color: var(--mainColor);
  color: white;
  padding: 16px 40px;
  border-radius: 3px;
  transition:  background-color .4s;


}

.hero .shop_btn:hover{
  background-color: rgb(106, 104, 104);
  
}
.hero .h1{
  font-size: 50px;
  line-height: 1.9;
  font-weight:normal;
}
@media screen and (max-width:1200px){
  .hero_content{
  display: none;}
  .hero_img{
    width: 100%;
  }
}



.featured_product .row{
   gap: 15px;
}
  .product{
      box-shadow: 0 4px 4px 0 #00000040;
      width: calc((100% - 45px) / 4); 
      border:1px solid #E7E6EF;
      transition: background-color .8s;
   }
   .product .img{
   background-color: #F6F7FB;
   padding:46px 52px 12px 40px;
   border-radius: 5px;
  height: 250px;
}
.product .btn{
  background-color: #08D15F;
  padding: 8px 13px;
  color: white;
  border: none;
  border-radius: 4px;
}
.product:hover{
  background-color: #2F1AC4;
  color: white;
}

@media screen and (max-width:1300px){
 .product{
  width: 100%;
 } 
}



 .Leatest_Products .row{
   gap:15px;
}
.trending_product .row{
   gap:15px;
}
.product1{
      box-shadow: 0 4px 4px 0 #00000040;
       width: calc((100% - 30px) / 3);
      margin-top:30px ;
      position: relative;}

   .product1 .img{
   background-color: #F6F7FB;
   padding:46px 52px 12px 40px;
   border-radius: 5px;
   height: 300px;
      
}
.product1 .img :hover{
  transform: scale(1.2);
}
@media screen and (max-width:1200px){
  .product1{
  width: 100%;}
}

 .product2{
      box-shadow: 0 4px 4px 0 #00000040;
      width:calc((100% - 45) / 4); 
      border:1px solid #E7E6EF;
   }
.product2 .img{
   background-color: #F6F7FB;
   padding:10px;
   border-radius: 5px;
   height: 250px;
   padding:30px;
 
}
@media screen and (max-width:1200px){
  .product2{
  width: 100%;}
}

  .offer{
    box-shadow: 0 4px 4px 0 #00000040;
      width: calc((100% - 45px) /4 );
      height:300px;
    border:1px solid #E7E6EF;
  }
  
 .offer .img{
   padding:46px 52px 12px 40px;
 }
 .offer p{
   color:#1A0B5B4D;
 }
@media screen and (max-width:1200px){
  .offer{
  width: 100%;}}


.product_details{
   padding: 10px;

}

 
 .color_option{
   display: flex;
   gap: 5px;
   justify-content: center;
 }
 
.color{
    width: 14px;
    height: 4px;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}
.color_one{ 
    background-color: #05E6B7;
}
.color_two{
    background-color: #F701A8;
}
.color_three{
  background-color: #00009D;
}

 

.newslater{
  background-image:url(./../img/newslater.webp) ;
  padding: 170px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;

}
.newslater h2{
  color: #151875;
}
.newslater .shop_btn{
  color: white;
  background-color: var(--mainColor);
  border: none;
  padding: 14px 40px;
  border-radius: 3px;

}

@media screen and (max-width:1200px){
  .newslater{
    width: 100%;
  }
  .newslater.h2{
display: none;}
.newslater.shop_btn{
  display: none;
}
}


 
 .categorise .img{
   border: 1px solid #E7E6EF;
   box-shadow: 0 4px 4px 0 #00000040;
   border-radius: 50%;
   padding: 25px;
   margin-bottom: 20px;
 }
 .blog{
   width:370px ;
   height: 493px;
   border: 1px solid #E7E6EF;
   border-radius: 10px
 }
 .blog p{
   margin-bottom:  20px;}

.footer {
  background-color: #EEEFFB;
  padding: 30px;
   }
   
 .footer input::placeholder{
    color:#8A8FB9 ;
   }
 
 .footer button{
  color: white;
 
  border-radius: 3px;
 }
 .footer a{
  color: #8A8FB9;
 }
 







  .footer {
background-color: #EEEFFB;
padding: 30px;
   }
   
   .footer input::placeholder{
    color:#8A8FB9 ;
   }
 
 .footer button{
  color: white;
  padding: 10px 40px;
  border-radius: 3px;
 }
 .footer.left_side{
  align-items: f;
 }
 .footer a{
  color: #8A8FB9;
 }
 @media screen and (max-width:1200px){
  .footer .footer.left_side{
    display: none;
  }}